{
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "jsxSingleQuote": true,
  "printWidth": 120,
  "quoteProps": "as-needed",
  "semi": true,
  "singleAttributePerLine": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "vueIndentScriptAndStyle": true,
  "jsxBracketSameLine": false,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "proseWrap": "preserve",
  "requirePragma": false,
  "embeddedLanguageFormatting": "auto",
  "experimentalTernaries": false
}